################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlipsExercises
/.ionide
/FlipsExercises/obj
/FlipsExercises/bin/Debug/netcoreapp5.0

.fake